@import '../../styles/var.scss';
.mainContainer {
  padding-top: 40px;
  @media screen and (min-width: 800px) {
    padding-top: 120px;
  }
}
.container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 3rem;
  flex-direction: column;
  @media screen and (min-width: 600px) {
    flex-direction: row;
  }
}
.containerImage {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  @media screen and (min-width: 600px) {
    width: 50%;
  }
}

.backbtn {
  position: absolute;
  top: 100px;
  padding: 5px 10px;
  background-color: #3333338a;
  color: orange;
  border-radius: 4px;
  border-radius: 4px;
  left: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  gap: 10px;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
  &:hover {
    background-color: #dedede;
  }
  @media screen and (min-width: 800px) {
    top: 110px;
    padding: 10px 15px;
    background-color: transparent;
    color: $blue-color;
  }
}

.img {
  width: 100%;
  box-shadow: 0 0 40px #badeff;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 3rem;
  width: 100%;
  @media screen and (min-width: 600px) {
    width: 48%;
  }
}

.infoContainer h2 {
  width: fit-content;
  padding: 0 20px 10px 0;
  border-bottom: 3px solid $orange-color;
}

.itemContainer {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 5px;
}
.itemContainerColumn {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 5px;
}
.itemContainer p {
  font-weight: 400;
  text-align: start;
}
.icon {
  color: $orange-color;
}

.button {
  padding: 10px;
  border: none;
  background-color: $red-color;
  color: white;
}

.tableContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  @media screen and (min-width: 600px) {
    justify-content: flex-start;
  }
}

.table {
  padding: 10px;
  box-shadow: 0 0 4px gray;
  border-collapse: collapse;
}
.table th,
.table td {
  border: 3px solid #e4e4e4;
  // border-spacing: 10px;
  border-collapse: collapse;
  padding: 10px 20px;
}
.table th {
  background-color: $blue-color;
  color: white;
}

.detailsContainer {
  margin-bottom: 2rem;
}

.subtitle {
  padding: 0 20px 10px 0;
  width: fit-content;
  border-bottom: 2px solid $orange-color;
  margin-bottom: 1rem;
}

.detailContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
  padding-left: 1.5rem;
}

.locationContainer {
  margin-bottom: 20px;
  p {
    font-weight: 400;
  }
}

.gallery {
  max-width: 800px;
  margin: auto !important;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 5px;
}

.gallery img {
  width: 48%;
  max-height: 200px !important;
  @media screen and (min-width: 600px) {
    width: 32%;
  }
}
