@import './styles/normalice.scss';
@import './styles/var.scss';

body {
  font-family: 'Work Sans';
}

.active {
  border: none;
  background-color: $blue-color-light;
  @media screen and (min-width: 600px) {
    border-bottom: 3px solid $orange-color;
    background-color: transparent;
  }
}
